
.data0.chart-pie { -fx-pie-color: turquoise; }
.data1.chart-pie { -fx-pie-color: aquamarine; }
.data2.chart-pie { -fx-pie-color: cornflowerblue; }
.data3.chart-pie { -fx-pie-color: blue; }
.data4.chart-pie { -fx-pie-color: cadetblue; }
.data5.chart-pie { -fx-pie-color: navy; }
.data6.chart-pie { -fx-pie-color: deepskyblue; }
.data7.chart-pie { -fx-pie-color: cyan; }
.data8.chart-pie { -fx-pie-color: steelblue; }
.data9.chart-pie { -fx-pie-color: teal; }
.data10.chart-pie { -fx-pie-color: royalblue; }
.data11.chart-pie { -fx-pie-color: dodgerblue; } /*good*/

/* Pie Chart legend background color and stroke. */

.bevel-grey {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*----------------------------------------------------*/

.default-color0.chart-series-line { -fx-stroke: #2c2e4e; }

.chart-vertical-zero-line {
    -fx-stroke: black;
}
.chart-horizontal-zero-line {
    -fx-stroke: black;
}

.chart-plot-background {
    -fx-background-color:  #d1d1e0;
    -fx-foreground-color: white;
    -fx-stroke: white;
}

/*.chart-vertical-grid-lines {
    -fx-stroke: #898887;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #898887;
}*/
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
	-fx-stroke: black;
	-fx-fill: black;
    -fx-font-size: 1.1em;
    -fx-tick-label-fill: black;
    -fx-font-family: Tahoma;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
}

/*-------------------------------------------------*/


.combo-box .list-cell {
    -fx-text-fill: #000099;
}
.combo-box-popup .list-view{
    -fx-background-color: #d9d9f2;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: black;
    -fx-padding: 4 0 4 5;
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #c2c2f0;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: white;
    -fx-text-fill: blue;
}

.combo-box-base{
    -fx-background-color: white;
    -fx-padding: 0;
}
